**Proyek Akhir: Menyelesaikan Permasalahan Perusahaan Jaya Jaya Maju**

- Nama: Muhammad Deagama Surya Antariksa
- Email: deagamadicoding@gmail.com
- Id Dicoding: deagamaantariksa

**Persiapan**

Menyiapkan library yang dibutuhkan

In [124]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

Menyiapkan data yang akan digunakan

In [125]:
path = 'employee_data.csv'
data = pd.read_csv(path)

**Data Understanding**

In [126]:
print("\nBeberapa Baris Data Pertama:")
data.head()

Beberapa Baris Data Pertama:

,EmployeeId,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,38,NaN,Travel_Frequently,1444,Human Resources,1,4,Other,1,...,2,80,1,7,2,3,6,2,1,2
1,2,37,1.0,Travel_Rarely,1141,Research & Development,11,2,Medical,1,...,1,80,0,15,2,1,1,0,0,0
2,3,51,1.0,Travel_Rarely,1323,Research & Development,4,4,Life Sciences,1,...,3,80,3,18,2,4,10,0,2,7
3,4,42,0.0,Travel_Frequently,555,Sales,26,3,Marketing,1,...,4,80,1,23,2,4,20,4,4,8
4,5,40,NaN,Travel_Rarely,1194,Research & Development,2,4,Medical,1,...,2,80,3,20,2,3,5,3,0,2

In [127]:
print("Informasi Data:")
data.info()

Informasi Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeId                1470 non-null   int64
 1   Age                       1470 non-null   int64
 2   Attrition                 1058 non-null   float64
 3   BusinessTravel            1470 non-null   object
 4   DailyRate                 1470 non-null   int64
 5   Department                1470 non-null   object
 6   DistanceFromHome          1470 non-null   int64
 7   Education                 1470 non-null   int64
 8   EducationField            1470 non-null   object
 9   EmployeeCount             1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: float64(1), int64(26), object(8)
memory usage: 402.1+ KB

In [128]:
missing_data = data.isnull().sum()

print("Data yang Kosong (NaN):")
print(missing_data)

Data yang Kosong (NaN):
EmployeeId                    0
Age                           0
Attrition                   412
BusinessTravel                0
DailyRate                     0
Department                    0
DistanceFromHome              0
Education                     0
EducationField                0
EmployeeCount                 0
EnvironmentSatisfaction       0
Gender                        0
HourlyRate                    0
JobInvolvement                0
JobLevel                      0
JobRole                       0
JobSatisfaction               0
MaritalStatus                 0
MonthlyIncome                 0
MonthlyRate                   0
NumCompaniesWorked            0
Over18                        0
OverTime                      0
PercentSalaryHike             0
PerformanceRating             0
RelationshipSatisfaction      0
StandardHours                 0
StockOptionLevel              0
TotalWorkingYears             0
TrainingTimesLastYear         0
WorkLifeBalance               0
YearsAtCompany                0
YearsInCurrentRole            0
YearsSinceLastPromotion       0
YearsWithCurrManager          0
dtype: int64

**Data Preparation / Preprocessing**

In [129]:
data.dropna(subset=['Attrition'], inplace=True)

In [130]:
data['OverTime'] = data['OverTime'].map({'Yes': 1, 'No': 0})

In [131]:
data['Attrition'] = data['Attrition'].fillna(data['Attrition'].mode()[0]).astype(int)

In [132]:
print("Beberapa Baris Data Pertama setelah Preprocessing:")
data.head()

Beberapa Baris Data Pertama setelah Preprocessing:

,EmployeeId,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1,2,37,1,Travel_Rarely,1141,Research & Development,11,2,Medical,1,...,1,80,0,15,2,1,1,0,0,0
2,3,51,1,Travel_Rarely,1323,Research & Development,4,4,Life Sciences,1,...,3,80,3,18,2,4,10,0,2,7
3,4,42,0,Travel_Frequently,555,Sales,26,3,Marketing,1,...,4,80,1,23,2,4,20,4,4,8
6,7,40,0,Travel_Rarely,1124,Sales,1,2,Medical,1,...,3,80,3,6,2,2,4,3,0,2
7,8,55,1,Travel_Rarely,725,Research & Development,2,3,Medical,1,...,4,80,1,24,2,3,5,2,1,4

In [133]:
print("Kelas unik dalam kolom BusinessTravel:")
print(data['BusinessTravel'].unique())

print("\nKelas unik dalam kolom Department:")
print(data['Department'].unique())

print("\nKelas unik dalam kolom EducationField:")
print(data['EducationField'].unique())

print("\nKelas unik dalam kolom Gender:")
print(data['Gender'].unique())

print("\nKelas unik dalam kolom JobRole:")
print(data['JobRole'].unique())

print("\nKelas unik dalam kolom MaritalStatus:")
print(data['MaritalStatus'].unique())

print("\nKelas unik dalam kolom Over18:")
print(data['Over18'].unique())

Kelas unik dalam kolom BusinessTravel:
['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']

Kelas unik dalam kolom Department:
['Research & Development' 'Sales' 'Human Resources']

Kelas unik dalam kolom EducationField:
['Medical' 'Life Sciences' 'Marketing' 'Technical Degree'
 'Human Resources' 'Other']

Kelas unik dalam kolom Gender:
['Female' 'Male']

Kelas unik dalam kolom JobRole:
['Healthcare Representative' 'Research Scientist' 'Sales Executive'
 'Manager' 'Laboratory Technician' 'Research Director'
 'Manufacturing Director' 'Human Resources' 'Sales Representative']

Kelas unik dalam kolom MaritalStatus:
['Married' 'Single' 'Divorced']

Kelas unik dalam kolom Over18:
['Y']

In [134]:
data.drop(columns=['Over18'], inplace=True)

In [135]:
mapping = {
    'BusinessTravel': {'Non-Travel': 0, 'Travel_Rarely': 1, 'Travel_Frequently': 1},
    'Department': {'Human Resources': 1, 'Research & Development': 2, 'Sales': 3},
    'EducationField': {'Other': 1, 'Medical': 2, 'Life Sciences': 3, 'Marketing': 4, 'Technical Degree': 5, 'Human Resources': 6},
    'Gender': {'Female': 0, 'Male': 1},
    'JobRole': {'Human Resources': 1, 'Healthcare Representative': 2, 'Research Scientist': 3,
                'Sales Executive': 4, 'Manager': 5, 'Laboratory Technician': 6, 'Research Director': 7,
                'Manufacturing Director': 8, 'Sales Representative': 9},
    'MaritalStatus': {'Divorced': 1, 'Married': 2, 'Single': 3}
}

In [136]:
for column, map_dict in mapping.items():
    data[column] = data[column].map(map_dict)

In [137]:
print("Data setelah mengubah nilai kelas menjadi nilai numerik:")
data.head()

Data setelah mengubah nilai kelas menjadi nilai numerik:

,EmployeeId,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1,2,37,1,1,1141,2,11,2,2,1,...,1,80,0,15,2,1,1,0,0,0
2,3,51,1,1,1323,2,4,4,3,1,...,3,80,3,18,2,4,10,0,2,7
3,4,42,0,1,555,3,26,3,4,1,...,4,80,1,23,2,4,20,4,4,8
6,7,40,0,1,1124,3,1,2,2,1,...,3,80,3,6,2,2,4,3,0,2
7,8,55,1,1,725,2,2,3,2,1,...,4,80,1,24,2,3,5,2,1,4

In [138]:
print("Informasi Data:")
data.info()

Informasi Data:
<class 'pandas.core.frame.DataFrame'>
Index: 1058 entries, 1 to 1469
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeId                1058 non-null   int64
 1   Age                       1058 non-null   int64
 2   Attrition                 1058 non-null   int64
 3   BusinessTravel            1058 non-null   int64
 4   DailyRate                 1058 non-null   int64
 5   Department                1058 non-null   int64
 6   DistanceFromHome          1058 non-null   int64
 7   Education                 1058 non-null   int64
 8   EducationField            1058 non-null   int64
 9   EmployeeCount             1058 non-null   int64
 10  EnvironmentSatisfaction   1058 non-null   int64
 11  Gender                    1058 non-null   int64
 12  HourlyRate                1058 non-null   int64
 13  JobInvolvement            1058 non-null   int64
 14  JobLevel                  1058 non-null   int64
 15  JobRole                   1058 non-null   int64
 16  JobSatisfaction           1058 non-null   int64
 17  MaritalStatus             1058 non-null   int64
 18  MonthlyIncome             1058 non-null   int64
 19  MonthlyRate               1058 non-null   int64
 20  NumCompaniesWorked        1058 non-null   int64
 21  OverTime                  1058 non-null   int64
 22  PercentSalaryHike         1058 non-null   int64
 23  PerformanceRating         1058 non-null   int64
 24  RelationshipSatisfaction  1058 non-null   int64
 25  StandardHours             1058 non-null   int64
 26  StockOptionLevel          1058 non-null   int64
 27  TotalWorkingYears         1058 non-null   int64
 28  TrainingTimesLastYear     1058 non-null   int64
 29  WorkLifeBalance           1058 non-null   int64
 30  YearsAtCompany            1058 non-null   int64
 31  YearsInCurrentRole        1058 non-null   int64
 32  YearsSinceLastPromotion   1058 non-null   int64
 33  YearsWithCurrManager      1058 non-null   int64
dtypes: int64(34)
memory usage: 289.3 KB

In [139]:
data.to_csv('data_preprocessed.csv', index=False)

**Modeling**

In [140]:
X = data.drop(columns=["Attrition"])
y = data["Attrition"]

In [141]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [142]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [143]:
model = LogisticRegression(max_iter=1000)

In [144]:
model.fit(X_train_scaled, y_train)

LogisticRegression(max_iter=1000)

In [145]:
y_pred = model.predict(X_test_scaled)

**Evaluation**

In [146]:
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

In [147]:
print("Akurasi:", accuracy)
print("Laporan Klasifikasi:")
print(report)

Akurasi: 0.9009433962264151
Laporan Klasifikasi:
              precision    recall  f1-score   support

           0       0.91      0.98      0.94       173
           1       0.85      0.56      0.68        39

    accuracy                           0.90       212
   macro avg       0.88      0.77      0.81       212
weighted avg       0.90      0.90      0.89       212

In [148]:
coefficients = pd.DataFrame({"Fitur": X.columns, "Koefisien Regresi": model.coef_[0]})

print("\nKoefisien Regresi:")
print(coefficients)

Koefisien Regresi:
                       Fitur  Koefisien Regresi
0                 EmployeeId          -0.126322
1                        Age          -0.254258
2             BusinessTravel           0.243511
3                  DailyRate          -0.051621
4                 Department           0.090104
5           DistanceFromHome           0.337675
6                  Education           0.066571
7             EducationField           0.269865
8              EmployeeCount           0.000000
9    EnvironmentSatisfaction          -0.510233
10                    Gender           0.234380
11                HourlyRate          -0.059002
12            JobInvolvement          -0.413609
13                  JobLevel          -0.041690
14                   JobRole           0.203869
15           JobSatisfaction          -0.388737
16             MaritalStatus           0.337541
17             MonthlyIncome          -0.365836
18               MonthlyRate           0.115487
19        NumCompaniesWorked           0.423156
20                  OverTime           0.877082
21         PercentSalaryHike          -0.036630
22         PerformanceRating          -0.027526
23  RelationshipSatisfaction          -0.352567
24             StandardHours           0.000000
25          StockOptionLevel          -0.427199
26         TotalWorkingYears          -0.468196
27     TrainingTimesLastYear          -0.130168
28           WorkLifeBalance          -0.161368
29            YearsAtCompany           0.698506
30        YearsInCurrentRole          -0.474777
31   YearsSinceLastPromotion           0.407209
32      YearsWithCurrManager          -0.623431

In [149]:
coefficients_sorted = coefficients.sort_values(by='Koefisien Regresi', ascending=False)

print("\nKoefisien Regresi (Diurutkan):")
print(coefficients_sorted)

Koefisien Regresi (Diurutkan):
                       Fitur  Koefisien Regresi
20                  OverTime           0.877082
29            YearsAtCompany           0.698506
19        NumCompaniesWorked           0.423156
31   YearsSinceLastPromotion           0.407209
5           DistanceFromHome           0.337675
16             MaritalStatus           0.337541
7             EducationField           0.269865
2             BusinessTravel           0.243511
10                    Gender           0.234380
14                   JobRole           0.203869
18               MonthlyRate           0.115487
4                 Department           0.090104
6                  Education           0.066571
8              EmployeeCount           0.000000
24             StandardHours           0.000000
22         PerformanceRating          -0.027526
21         PercentSalaryHike          -0.036630
13                  JobLevel          -0.041690
3                  DailyRate          -0.051621
11                HourlyRate          -0.059002
0                 EmployeeId          -0.126322
27     TrainingTimesLastYear          -0.130168
28           WorkLifeBalance          -0.161368
1                        Age          -0.254258
23  RelationshipSatisfaction          -0.352567
17             MonthlyIncome          -0.365836
15           JobSatisfaction          -0.388737
12            JobInvolvement          -0.413609
25          StockOptionLevel          -0.427199
26         TotalWorkingYears          -0.468196
30        YearsInCurrentRole          -0.474777
9    EnvironmentSatisfaction          -0.510233
32      YearsWithCurrManager          -0.623431